.title{
    font-size:22px;
    font-weight: bold;
}

.explain{
    font-size: 14px;
    font-weight: 500;
    color:#676D7C99;
}

.content{
    margin-top: 20px;
    background-color: #676D7C15;
    border-radius: 10px;
    padding:10px 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btns{
    margin-top: 20px;
}

.btns>*:first-child{
    margin-right: 18px;
}

.btns>*:first-child *{
    color:#7b61ff;
}

.range{
    margin:50px 0 30px 0;
}

.range>input{
    width: 100%;
    accent-color:#7b61ff;
}

.range>datalist{
    margin-left: 4px;
    width:100%;
    font-size: 12px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 15px;
}
.range>datalist>option:first-child{
    text-align: start;
}
.range>datalist>option:last-child{
    text-align: end;
}
.range>datalist>option{
    text-align: center;
    width: 15px;
}