.moneyBox{
    width: 200px;
    padding: 20px 12px;
    border-radius: 10px;
    background-color: rgb(255,255,255);
}

.money__inner{
    width: 100%;
    display: flex;
    align-items: center;
    font-weight:700;
    padding-left: 20px;
    padding-right: 20px;
}


.money__inner:nth-child(2){
    justify-content:flex-end;
    margin-top: 10px;
}

.money__inner:nth-child(3){
    margin-top: 10px;
    margin-bottom: 20px;
    height: 1px;
    background-color: rgb(227,227,227);
}

.money__inner>button{
    font-size: 15px;
}

/* modal */
/* Modal */
.modalTitle{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.modalSubTitle{
    font-size: 14px;
    text-align: left;
    color: #434851;
    font-weight: 500;
    padding-left: 10px;
}

.modalBtn{
    margin-top:15px;
    text-align: right;
}
/* x 버튼 */
.closeBtn{
    text-align: right;
    cursor: pointer;
}

.modalMoneyBox{
    margin-top: 10px;
    width: 100%;
    height: 52px;
    font-weight: 500;
    background-color: #DFE2E680;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}


@media (max-width:1050px) {
    .moneyBox{
        display: none;
    }
}