.board {
  padding: 16px;
  max-width: 1300px;
  margin: 100px auto 150px;
}

.post__container {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__titleInput {
  width: 75%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  /* 입력 필드 테두리 설정 */
  border-radius: 4px;
  /* 입력 필드 모서리를 둥글게 */
  font-size: 16px;
  /* 입력 필드 내 텍스트 크기 */
  color: #333;
  /* 입력 필드 내 텍스트 색상 */
  background-color: #fff;
  /* 입력 필드 배경색 */
}

.post__titleInput::placeholder {
  color: #aaa;
  /* 플레이스홀더 텍스트 색상 */
}

.post__author {
  font-size: 16px;
  color: #666;
  background-color: #f8f8f8;
  /* 작성자 정보 배경색 */
  padding: 10px 15px;
  border-radius: 4px;
  /* 작성자 정보 모서리 둥글게 */
}

/* 미디어 쿼리를 사용하여 반응형 디자인 적용 */
@media (max-width: 768px) {
  .post__header {
      flex-direction: column;
      /* 모바일에서는 항목들을 세로로 배열 */
      align-items: flex-start;
      /* 왼쪽 정렬 */
  }

  .post__titleInput {
      width: 100%;
      /* 모바일에서는 입력 필드 너비를 100%로 조정 */
      margin-bottom: 10px;
      /* 입력 필드와 작성자 정보 사이의 간격 */
  }

  .post__author {
      width: 100%;
      /* 모바일에서 작성자 정보 너비를 100%로 조정 */
      font-size: 14px;
  }

  .post__title {
      font-size: 18px;
  }

  .post__textarea {
      font-size: 14px;
  }

  .post__button {
      font-size: 16px;
  }
}


.post__content,
.post__textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  min-height: 500px;
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
}

.post__fileDiv {
  margin-top: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}

.post__file {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post__file-label {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  margin-right: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.post__file-label:hover {
  background-color: #eee;
}

.post__file-input {
  display: none;
  /* 기존 스타일은 숨겨진 상태로 유지 */
}

.post__fileList {
  margin-top: 10px;
}

.post__fileName {
  background-color: #eee;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.post__buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.post__button {
  padding: 10px 0;
  background-color: #7b61ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: 150px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.post__buttonDisable {
  padding: 10px 0;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  font-size: 18px;
  width: 150px;
  margin-left: 10px;
}

.post__category {
  margin-top: 10px;
}

.post__category select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-y: auto;
  height: 100px;

}

.fileItem {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.fileName {
  margin-right: 10px;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
}

.removeFileButton {
  border: none;
  background-color: #ff4d4f;
  color: white;
  padding: 4px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.emptyFileMessage {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin: auto;
}