.selectDates{
    display:flex;
    justify-content: space-between;
    margin:30px 0;
}

.startDate, .endDate{
    width: 48%;
    height: 80px;
    padding:10px 20px;
    background-color: #73757715;
    border-radius: 10px;
}

.dateTitle{
    font-size: 13px;
    font-weight: bold;
    color:#73757799;
}

.selectDate{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.whiteBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.whiteBtn>*:hover{
    cursor: pointer;
    background-color: #7b61ff;
    color:#FFFFFF;
    transition-duration: 0.3s;
}