.body {
    width: 100%;
    margin-bottom: 50px;
}

.reportPostTitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 50px;
}

.reportPostBox {
    border: 1px solid #DFE2E6;
    border-radius: 10px;
    height: 500px;
}

.reportPostLine {
    display: grid;
    grid-template-columns: 50px 1fr 3fr 1fr;
    height: 50px;
}

.reportPostItem {
    min-width: 0;
    display: inline-block;
    align-self: center;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}