.container{
    width: 650px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0px 24px;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
    height: 50vh;
}

.container__inner{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.inner__title{
    font-size: 18px;
    font-weight: 700;
}

.inner__line{
    height: 1px;
    margin: 20px 0px;
    background-color: rgb(227,227,227);
}

.inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.inner__left{
    font-size: 14px;
    color: rgb(101,101,101);
}

.inner__right{
    display: flex;
}

.input{
    font-weight: 700;
    margin-right: 20px;
}

.loginText{
    font-size: 14px;
    color: rgb(101, 101, 101);
    line-height: 21px;
    text-align: center;
}

.socialBox{
    width: 100%;
}

.social{
    height: 50px;
    display: flex;
    border: 1px solid rgb(227, 227, 227);;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    position: relative;
}

.socialImg{
    width: 40px; height: 40px;
}

.text{
    display: flex;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* Modal */
.modalTitle{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.modalSubTitle{
    font-size: 14px;
    text-align: center;
    color: rgb(101, 101, 101);
}

.modalBtn{
    margin-top:15px;
    text-align: right;
}

.closeBtn{
    text-align: right;
}

/* email */
.emailBox{
    padding: 0 25px;
    padding-top: 10px;
}
.email__inner{
    display: flex;
    margin-bottom: 10px;
}
.email__inner>div:nth-child(1){
    width: 80%;
    height: 54px;
    margin-right: 10px;
}

.emailBox>div:nth-child(2){
    width: 100%;
    height: 54px;
    margin-bottom: 10px;
}

.inputEmail{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgb(101, 101, 101);
    padding-left: 10px;
}



@media (max-width:786px) {
    .container{
        width: 600px;
    }
}

@media (max-width:500px) {
    .container{
        width: 500px;
    }
}