.render {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.board__title {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #5D5C61;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.board__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.ott__container {
    display: flex;
    flex-wrap: wrap; /* 요소들이 컨테이너 너비를 초과하면 다음 줄로 이동 */
    justify-content: flex-start; /* 요소들을 컨테이너의 시작 부분부터 정렬 */
    gap: 20px; /* 카드 사이의 간격 설정 */
}


.ott__card {
    border: 1px solid #ddd;
    /* 테두리 */
    width: 200px;
    /* 카드 너비 */
    height: 150px;
    /* 카드 높이 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 내용을 위아래로 분산 */
    padding: 10px;
    /* 카드 내부 패딩 */
    background-color: #f9f9f9;
    /* 카드 배경색 */
    flex: 0 0 calc(25% - 20px); /* 너비를 25%로 설정하고, gap 크기만큼 감소 */
}

.ott__title {
    font-weight: bold;
    /* 제목 굵게 */
    text-align: center;
    /* 제목 중앙 정렬 */
}

.ott__content {
    text-align: center;
    /* 내용 중앙 정렬 */
    margin-top: auto;
    /* 내용을 하단에 위치 */
}

.board__buttonContainer {
    text-align: right;
}

.board__button {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #7b61ff;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.ott__categories{
    margin-bottom: 20px;
    text-align: center;
}

.ott__category {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

/* 선택된 OTT 카테고리에 적용될 스타일 */
.ott__category.active {
    background-color: #7b61ff; /* 예시 색상 */
    color: white;
    border-color: #7b61ff;
    font-weight: bold;
}

/* 반응형 디자인을 위한 미디어 쿼리 조정 */
@media (max-width: 1024px) {
    .ott__card {
        flex: 0 0 calc(33.333% - 20px); /* 화면이 작을 경우 카드 너비를 33.333%로 조정 */
    }
}

@media (max-width: 768px) {
    .ott__card {
        flex: 0 0 calc(50% - 20px); /* 화면이 더 작을 경우 카드 너비를 50%로 조정 */
    }
}

@media (max-width: 576px) {
    .ott__card {
        flex: 0 0 100%; /* 모바일 화면에서는 카드가 전체 너비를 차지하도록 조정 */
    }
}
