.body{
    max-width: 1300px;
    margin: auto;
    padding:20px 24px;
}

.centerAlign {
    display:flex;
    align-items: center;
    justify-content: center;
}

.VAlign{
    display:flex;
    align-items: center;
}

.hAlign{
    display:flex;
    justify-content: center;
}

.dflex{
    display: flex;
}

.title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 50px;    
}

.serviceImg>img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.serviceName{
    font-weight: 500;
    margin: 15px 0 10px 0;
}

.startDate{
    font-size: 13px;
    font-weight: 500;
    color:#737577;
}

.partyList{
    margin: auto;
    flex-flow: row wrap;
    max-width: 1300px;
}

.partyList>.myParty{
    margin: 30px;
    cursor: pointer;
}

.myParty{    
    width: 550px;
    box-shadow: 0 0 5px 0 #73757750 ;
    padding:20px 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    border:2px solid transparent;
}

.tag{
    background-color: #6A57D799;
    padding:5px 10px;
    border-radius: 10px;
    color:white;
    font-size: 15px;
    font-weight: normal;
    margin-left: 10px;
}

.tag:first-child{
    margin-left: 0px;
}


.myParty:hover{
    border:2px solid #6A57D750;
}

.subTitle{
    font-weight: 500;
    font-size: 18px;
    margin-left: 30px;
}

.empty{
    margin: 30px 0 50px 0;
    margin-left: 30px;
    width: 93%;
    padding: 100px 0;
    background-color: #DFE2E6;
    border-radius: 10px;
}

.emptyIcon *{
    font-size: 40px;
    color: #676D7C;
}

.emptyTxt {
    font-size: 20px;
    font-weight: 500;
    color: #676D7C;
    margin-top: 20px;
}

@media (max-width:1290px){
    .partyList>.myParty{
        width: 44%;
        margin-bottom: 30px;
    }
    .empty{
      width: 94%;
    }
}

@media (max-width:1080px){
    .partyList>.myParty{
        width: 41%;
        margin-bottom: 30px;
    }
    .empty{
        width: 88%;
    }
}

@media (max-width:1070px){
    .empty{
        width: 88.5%;
    }
}

@media (max-width:930px){
    .empty{
        width: 89%;
    }
}

@media (max-width:850px){
    .empty{
        width: 90%;
    }
}

@media (max-width:786px){
    .partyList>.myParty{
        margin-bottom: 30px;
        width: 100%
    }
    .empty{
        width: 92%;
    }
}

@media (max-width:720px){
    .empty{
        width: 90%;
    }
}

@media (max-width:640px){
    .empty{
        width:89%;
    }
}

@media (max-width:500px){
    .empty{
        width:87%;
    }
}