
.centerAlign {
    display:flex;
    align-items: center;
    justify-content: center;
}

.VAlign{
    display:flex;
    align-items: center;
}

.hAlign{
    display:flex;
    justify-content: center;
}

.dflex{
    display: flex;
}

.partyContent__img>img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.partyContent__name{
    font-weight: 500;
    margin: 15px 0 10px 0;
}

.partyContent__txt{
    font-size: 13px;
    font-weight: 500;
    color:#6A57D7;
}

.maxPrice{
    font-size: 13px;
    color:#737577;
}

.hotTag{
    margin-left: 5px;
    background-color: #F9DD7F45;
    width: 50px;
    border-radius: 10px;
}
.hotTag *{
    font-size: 12px;
    color:#FFAE6F;
}

.hatTagTxt{
    margin-left: 2px;
}