.deniedBox {
  width: 600px;
  margin: 100px auto 150px auto;
  text-align: center;
  background-color: #7b61ff30;
  border-radius: 30px;
  padding: 50px;
}
.icon {
  margin-bottom: 20px;
}
.icon svg {
  font-size: 50px;
}
.icon path {
  color: #ff4500;
}
.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
.btns button:last-child {
  margin-left: 20px;
}
