/* Reply.module.css */
.reply__section {
  margin-top: 20px;
}

.replyItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.replyContent {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  /* 임시 배경색, 실제 이미지 URL로 대체 필요 */
  margin-right: 10px;
}

.memberName {
  font-weight: bold;
  margin-right: 10px;
}

.mention {
  color: #555;
  margin-right: 5px;
}

.replyText {
  flex-grow: 1;
}

.replyTime {
  font-size: 0.8em;
  color: #666;
  margin-top: 4px;
}

.childReplies {
  border-left: 2px solid #e0e0e0;
  margin-top: 10px;
  padding-left: 20px;
}

.replyForm {
  margin-top: 20px;
}

.replyInput {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  resize: none;
}

.replyButton {
  width: 100%;
  padding: 10px 0;
  background-color: #7b61ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.replyButton:hover {
  background-color: #6a55ea;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #7d7d7d40;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

ul.pagination li:first-child,
ul.pagination li:nth-child(2),
ul.pagination li:last-child,
ul.pagination li:nth-last-child(2) {
  border: none;
}

ul.pagination li:not(:last-child) {
  margin-right: 5px;
}

/* ul.pagination li:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  ul.pagination li:last-child {
    border-radius: 0 5px 5px 0;
  } */
ul.pagination li a {
  color: #20412e;
}

ul.pagination li a * {
  /* text-decoration: none; */
  color: #7B61FF;
  /* font-size: 16px; */
}

ul.pagination li.active a {
  color: white !important;
}

ul.pagination li.active {
  background-color: #7B61FF;
}

ul.pagination li:hover {
  cursor: pointer;
}

ul.pagination li:hover:not(ul.pagination li.active,
  ul.pagination li:first-child,
  ul.pagination li:nth-child(2),
  ul.pagination li:last-child,
  ul.pagination li:nth-last-child(2)) {
  background-color: #dcedd4;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #7B61FF;
}

.noReplies {
  text-align: center;
  color: #808080;
  font-size: 16px;
  margin: 20px 0;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.selectedReplyContainer {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.reply__hide__buttton{
  color : #7b61ff;
}