.reply__section {
    margin-top: 20px;
}

.replyItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.replyContent {
    display: flex;
    align-items: center;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    /* 임시 배경색, 실제 이미지 URL로 대체 필요 */
    margin-right: 10px;
}

.memberName {
    font-weight: bold;
    margin-right: 10px;
}

.mention {
    color: #555;
    margin-right: 5px;
}

.replyText {
    flex-grow: 1;
}

.replyTime {
    font-size: 0.8em;
    color: #666;
    margin-top: 4px;
}

.childReplies {
    border-left: 2px solid #e0e0e0;
    margin-top: 10px;
    padding-left: 20px;
}

.checkForm {
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 요소를 배치 */
    align-items: center; /* 요소들을 세로로 중앙 정렬 */
    padding: 10px 0; /* 상하 여백을 줍니다 (필요에 따라 조정) */
}

.secretCheckboxContainer {
    /* 비밀댓글 체크박스 스타일 */
    display: flex;
    align-items: center; /* 체크박스와 라벨을 세로 중앙 정렬 */
}

.secretCheckboxLabel {
    margin-left: 5px; /* 체크박스와 라벨 사이의 간격 */
    /* 라벨에 대한 추가 스타일이 필요하면 여기에 추가 */
}


.replyInput {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    resize: none;
}

.replyButton {
    width: 100%;
    padding: 10px 0;
    background-color: #7b61ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.replyButton:hover {
    background-color: #6a55ea;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #7d7d7d40;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

ul.pagination li:first-child,
ul.pagination li:nth-child(2),
ul.pagination li:last-child,
ul.pagination li:nth-last-child(2) {
    border: none;
}

ul.pagination li:not(:last-child) {
    margin-right: 5px;
}

/* ul.pagination li:first-child {
      border-radius: 5px 0 0 5px;
    }
    
    ul.pagination li:last-child {
      border-radius: 0 5px 5px 0;
    } */
ul.pagination li a {
    color: #20412e;
}

ul.pagination li a * {
    /* text-decoration: none; */
    color: #7B61FF;
    /* font-size: 16px; */
}

ul.pagination li.active a {
    color: white !important;
}

ul.pagination li.active {
    background-color: #7B61FF;
}

ul.pagination li:hover {
    cursor: pointer;
}

ul.pagination li:hover:not(ul.pagination li.active,
    ul.pagination li:first-child,
    ul.pagination li:nth-child(2),
    ul.pagination li:last-child,
    ul.pagination li:nth-last-child(2)) {
    background-color: #dcedd4;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #7B61FF;
}

.noReplies {
    text-align: center;
    color: #808080;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.selectedReplyContainer {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.reply__hide__buttton {
    color: #7b61ff;
    font-size: 10px;
    cursor: pointer;
}

.replyActionsContainer {
    display: flex;
    /* Flexbox를 사용하여 내부 항목들을 나란히 배열 */
    align-items: center;
    /* 항목들을 수직 중앙에 정렬 */
    justify-content: flex-end;
    gap: 5px;
    /* 버튼 사이의 간격 */
}

/* 각 액션 버튼에 공통적으로 적용될 스타일 */
.replyActionButton {
    cursor: pointer;
    /* 마우스 오버 시 포인터 모양 변경 */
    padding: 5px 10px;
    /* 버튼 패딩 */
    border: none;
    /* 테두리 스타일 */
    border-radius: 5px;
    /* 테두리 둥근 모서리 */
    font-size: 10px;
    background-color: #f9f9f9;
    /* 배경색 */
    /* 기타 스타일 */
}

.buttonContainer {
    display: flex;
    /* 이를 통해 자식 요소들을 행으로 배치 */
    justify-content: flex-end;
    gap: 10px;
    /* 버튼 사이의 간격을 줍니다 */
}

.rereplyButton {
    width: 20%;
    padding: 10px 0;
    background-color: #7b61ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton {
    width: 20%;
    padding: 10px 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.selectedReplyInfo {
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-left: 3px solid #7b61ff;
    ;
    font-size: 0.9em;
    color: #333;
}

.selectedReplyInfo p {
    margin: 0;
    padding: 5px 0;
}

.selectedReplyInfo strong {
    font-weight: bold;
    color: #007bff;
}

.secretReply {
    color: #777; /* 회색 톤 */
    font-style: italic; /* 이탤릭체 */
    /* 추가 스타일링 */
}