
.centerAlign {
    display:flex;
    align-items: center;
    justify-content: center;
}

.VAlign{
    display:flex;
    align-items: center;
}

.hAlign{
    display:flex;
    justify-content: center;
}

.dflex{
    display: flex;
}

.partyName{
    font-size: 28px;
    font-weight: bold;
}

.partyCategoryList{
    margin: 30px 0 25px 0;
    min-width: 500px;
    overflow-x: auto;
}

.partyCategoryList::-webkit-scrollbar {
    width: 20px;
    
}
.partyCategoryList::-webkit-scrollbar-thumb{
    background-color: #7d7d7d20;
    border-radius: 10px; 

    border: 7px solid #FFFFFF /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}
.partyCategoryList::-webkit-scrollbar-track{
    background-color: #FFFFFF/* 스크롤바 뒷 배경을 투명 처리한다 */
}

.partyCategory{
    margin-left: 20px;
    font-weight: bold;
    color:#737577;
    cursor: pointer;
}

.partyCategory:first-child{
    margin-left: 0;
}

.partyContent{
    width: 150px;
    height: 220px;
    box-shadow: 0 0 5px 0 #73757750 ;
    padding:20px 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.partyList{
    
}
/* .partyList>.partyListLine{
    margin-bottom: 25px;
} */

/* .partyList>.partyListLine:last-child{
    margin-bottom: 0px;
} */
.partyListLine{
    margin: auto;
    flex-flow: row wrap;
    max-width: 1000px;
}

.partyListLine>.partyContent{
    margin: 20px;
    cursor: pointer;
}

/* .partyListLine>.partyContent:first-child{
    margin-left: 0;
} */


.partyContent__img>img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.partyContent__name{
    font-weight: 500;
    margin: 15px 0 10px 0;
}

.partyContent__txt{
    font-size: 13px;
    font-weight: 500;
    color:#6A57D7;
}

.maxPrice{
    font-size: 13px;
    color:#737577;
}

.hotTag{
    margin-left: 5px;
    background-color: #F9DD7F45;
    width: 50px;
    border-radius: 20px;
}
.hotTag *{
    font-size: 12px;
    color:#FFAE6F;
}

.hatTagTxt{
    margin-left: 2px;
}