.container{
    background-color: #8787D030;
}

.container__inner{
    display: flex;
    min-width: 400px;
    max-width: 1300px;
    margin: auto;
    justify-content: center;
    padding-top: 60px;
    height: 650px;
}

.dropDownNavi{
    display: none;
    
}

@media (max-width:1050px) {
    .dropDownNavi{
        display: block;
    }
}