.title{
    font-size:22px;
    font-weight: bold;
}

.explain{
    font-size: 14px;
    font-weight: 500;
    color:#676D7C99;
}


.calendar{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
