.container{
    width: 650px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0px 24px;
    border-radius: 15px;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
    height: 50vh;
}

.container__inner{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.inner__title{
    font-size: 18px;
    font-weight: 700;
}

.inner__line{
    height: 1px;
    margin: 20px 0px;
    
    background-color: rgb(227,227,227);
}
.inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.inner__left{
    font-size: 14px;
    color: rgb(101,101,101);
}

/* 모달 */
/* Modal */
.modalTitle{
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}

.modalSubTitle{
    font-size: 14px;
    text-align: start;
    color: rgb(101, 101, 101);
}

.modalBtn{
    margin-top:15px;
    text-align: right;
}

.closeBtn{
    text-align: right;
}

/* card */
.cardBox{
    padding-top: 10px;
}
.cardBox>div:nth-child(1)>input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 15px;
    border: 1px solid rgb(101, 101, 101);
    margin-bottom: 10px;
}
.card{
    display: flex;
    margin-bottom: 10px;
}

.card>div:nth-child(1){
    padding-right: 10px;
}

.card input[type="text"]{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 15px;
    border: 1px solid rgb(101, 101, 101);
}

.card input[type="password"]{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 15px;
    border: 1px solid rgb(101, 101, 101);
}

.card>div{
    width: 50%;
}

@media (max-width:786px) {
    .container{
        width: 600px;
    }
}

@media (max-width:500px) {
    .container{
        width: 500px;
    }
}