@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
}
input[type="checkbox"] {
  accent-color: #7b61ff;
}

.ql-container {
  box-sizing: border-box;
  font-family: "Gowun Batang";
  font-size: 1.25rem;
  font-weight: 400;
  color: #565759;
  min-height: 30rem;
  margin: 0px;
  position: relative;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bulle {
  background-color: #7b61ff;
}
.partList .swiper-backface-hidden .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.swiper-horizontal {
  padding: 20px 0 !important;
  background-color: white;
}
.swiper-backface-hidden .swiper-slide {
  padding: 10px 2px;
}
.swiper-button-prev {
  left: 130px !important;
  top: 441px !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 7px;
}
.swiper-button-next {
  left: 170px !important;
  top: 441px !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 7px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #676d7c50;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;
  font-size: 15px !important;
}

@media screen and (max-width: 600px) {
  .ql-container {
    font-size: 1.125rem;
  }
}
